*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120dvh;
    margin-top: 80px;
    margin-bottom: 80px;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 38px 38px;
    border-radius: 20px;
    width: 777px;
    gap: 17px;
}
.img{
    height: 320px;
    border-radius: 10px;
}
.conteudo1{
    font-size: 24px;
}
.container-menor{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: hsl(330, 100%, 98%);
    width: 100%;
    padding: 20px 30px;
    border-radius: 20px;
}
.container-menor li{
    margin-bottom: 6px;
    margin-left: 26px;
    color: hsl(332, 51%, 32%);
}
.time{
    margin-bottom: 6px;
    color: hsl(332, 51%, 32%);
}
.h2{
    color: hsl(332, 51%, 32%);
    font-size: 30px;
}
.lista2{
    margin-left: 30px;
}
.lista2 li{
    margin-bottom: 8px;
}
.borda{
    border: 1px solid hsl(14, 45%, 36%);
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px ;
}
.h2v{
    color: hsl(332, 51%, 32%);
    font-size: 30px;
}
.list_ord{
    margin-left: 30px;
    font-size: 17px;
}
.list_ord li{
    margin-bottom: 11px;
}
.h2v3{
    color: hsl(332, 51%, 32%);
    font-size: 30px;
    margin-bottom: 19px;
}
.column1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid;
}
.p{
    margin-bottom: 25px;
}
